/* CS257 mockup */
/* Written by Yiming Xia and Xiaoying Qu */
/* css file for car page */
/* 11.3.2022 */


/* HEADINGS AND PARAGRAPHS */



p {
    color: white;
    font-size: larger;
}
h2 {
    color: white;
    font-size: 50px;
    padding: 20px, 5px;
}
ul{
    color: white;
    font-size: medium;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/car.jpg);
    background-position: center;
    background-size: cover;
}
