/* CS257 mockup */
/* Written by Yiming Xia and Xiaoying Qu */
/* 11.18.2022 */


/* ALL */

* {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

p {
    margin-top: 1em ;
    margin-bottom: 1em ;
    color: rgb(25, 140, 71);
    font-size: x-large;
}


h2 {
    color: rgb(25, 140, 71);
    font-size: 45px;
    padding: 20px, 5px;
}

.container{
    width: 80%;
    size-adjust: auto;
    margin: 3 auto;
    /* background-image: url(/cars.jpg); */
}

/* NAVBAR */

header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    color:aliceblue;
    font-size: large;
    overflow: auto;

}
/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(25, 140, 71);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(25, 140, 71);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: aliceblue;
    color: rgb(25, 140, 71);
  }

nav a{
    text-decoration: none;
}
/* BACKGROUND */

body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
   /* background-image: linear-gradient(rgba(176, 218, 193, 0.9), rgba(176, 218, 193, 0.9)), url(images/car.jpg);*/
 
}
#backgroundimage {
    background-image: url(images/car.jpg);
        margin-top: -50px;
        margin-left: 120px;
        width: 85vw;
        height: 90vh; 
        background-repeat: no-repeat;
        display: block;
        position: relative;
        background-position:center;
        background-size:cover;
        } 