/* CS257 mockup */
/* Written by Yiming Xia and Xiaoying Qu */
/* 11.18.2022 */

/* ALL */

* {
    margin: 0;
    padding: 0;
    font-size:x-large;
}

p {
    margin-top: 1em ;
    margin-bottom: 1em ;
    color: rgb(25, 140, 71);
    font-size: x-large;
}

h2 {
    color: rgb(25, 140, 71);
    font-size: 45px;
    padding: 20px, 5px;
}

/* BACKGROUND */






/* SEARCH_BAR */

.search-bar {
    margin-top: 30px;
    width: 100%;
    max-width: 700px;
    background: rgba(8, 143, 26, 0.528);
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 6px 4px;
    font-size: 20px;
    color: aliceblue;
    width: 90%;
}

::placeholder{
    color: white;
    width: 90%;
    font-size: 20px;
}

.search-bar button img {
    width: 30px;
    float: right;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    float: right;
}




/* CAR-LIST */
/* table {
    color:white;
}
table, th {
    border: 1px solid white;
} */






/* LIST */

.list{
    color: white;
    font-size: 0.5cm;
    /* border: 1px solid white; */
}

/* NAVBAR */

/* .logo {
    position: relative;
    margin-top: 80px;
    margin-left: 60px;
} */
.container{
    width: 80%;
    size-adjust: auto;
    margin: 3 auto;
    /* background-image: url(/cars.jpg); */
}



header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    color:aliceblue;
    font-size: large;
    overflow: auto;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(25, 140, 71);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:rgb(25, 140, 71);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: aliceblue;
    color: rgb(25, 140, 71);
  }

nav a{
    text-decoration: none;
}

/* BACKGROUND 

body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/car.jpg);
    background-position: center;
    background-size: cover;
}

*/


body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
}

#backgroundimage {
    background-image: url(images/car.jpg);
        margin-top: -50px;
        margin-left: 60px;
        width: 30vw;
        height: 45vh; 
        background-repeat: no-repeat;
        display: block;
        position: relative;
        float:right;
        background-position:center;
        background-size:cover;
        } 
