/* CS257 mockup */
/* Written by Yiming Xia and Xiaoying Qu */
/* 11.3.2022 */





/* ALL */

* {
    margin: 0;
    padding: 0;
}





/* HEADINGS AND PARAGRAPHS */

a {
    color: white;
}

p1 {
    color: white;
    font-size: larger;
}


h2 {
    color: white;
    font-size: 50px;
    padding: 20px, 5px;
}





/* BACKGROUND */

body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/car.jpg);
    background-position: center;
    background-size: cover;
}





/* SEARCH_BAR */

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(8, 143, 26, 0.528);
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 6px 4px;
    font-size: 20px;
    color: #cac7ff;
    width: 90%;
}

::placeholder{
    color: white;
    width: 90%;
    font-size: 20px;
}

.search-bar button img {
    width: 10px;
    float: right;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #58629b;
    cursor: pointer;
    float: right;
}





/* LIST */

.list p2{
    color: white;
    font-size: 0.5cm;
    /* border: 1px solid white; */
}





/* NAVBAR */
header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    text-align:center;
    margin-top: 60px;
    color:aliceblue;
    font-size: large;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(25, 140, 71);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ffffff;
    color: rgb(25, 140, 71);
  }

nav a{
    text-decoration: none;
}