/* CS257 mockup */
/* Written by Yiming Xia and Xiaoying Qu */
/* 11.3.2022 */





/* ALL */

* {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

/* HEADINGS AND PARAGRAPHS */


a {
    color: white;
    font-size: larger;
}

p {
    margin-top: 1em ;
    margin-bottom: 1em ;
    color: rgb(25, 140, 71);
    font-size: x-large;
}

h2 {
    color: rgb(25, 140, 71);
    font-size: 45px;
    padding: 20px, 5px;
}



/* BACKGROUND

body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/car.jpg);
    background-position: center;
    background-size: cover;
}
*/
body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
   /* background-image: linear-gradient(rgba(176, 218, 193, 0.9), rgba(176, 218, 193, 0.9)), url(images/car.jpg);*/
 
}
#backgroundimage {
    background-image: url(images/car.jpg);
        margin-top: -50px;
        margin-left: 120px;
        width: 85vw;
        height: 90vh; 
        background-repeat: no-repeat;
        display: block;
        position: relative;
        background-position:center;
        background-size:cover;
        } 



/* DROP_DOWN_MENU */

.container1 {
    float: left;
    /* background-color: rgb(0, 179, 255); */
    height: 600px;
    /* width: 105px; */
    /* border: 5px white; */
}
.container1 li {
    float: left;
    list-style: none;
    position: relative;
    left: 0px;
    line-height: 10px;
    /* width: 105px; */
    /* padding: 0.1px 40px; */
    font-size: 14px;
    background-color: rgba(8, 143, 26, 0.528);
    word-wrap: break-word;
}
.container1 li a{
    display: block;
    padding: 12px 1px;
    color: white;
}





/* CARLIST */

.container{
    width: 80%;
    size-adjust: auto;
    margin: 3 auto;
    /* background-image: url(/cars.jpg); */
}

/* NAVBAR */

/* .logo {
    position: relative;
    margin-top: 80px;
    margin-left: 60px;
} */

header::after{
    content: '';
    display: table;
    clear: both;
}
nav{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    color:aliceblue;
    font-size: large;
    overflow: auto;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(25, 140, 71);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(25, 140, 71);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: aliceblue;
    color: rgb(25, 140, 71);
  }

nav a{
    text-decoration: none;
}



