/* CS257 mockup */
/* Written by Yiming Xia and Xiaoying Qu */
/* 11.3.2022 */





/* ALL */

* {
    margin: 0;
    padding: 0;
}

/* HEADINGS AND PARAGRAPHS */


a {
    color: white;
    font-size: larger;
}

p {
    color: white;
    font-size: larger;
}

h2 {
    color: white;
    font-size: 50px;
    padding: 20px, 5px;
}



/* BACKGROUND */

body {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(images/car.jpg);
    background-position: center;
    background-size: cover;
}





/* DROP_DOWN_MENU */

.container1 {
    float: left;
    /* background-color: rgb(0, 179, 255); */
    height: 600px;
    /* width: 105px; */
    /* border: 5px white; */
}
.container1 li {
    float: left;
    list-style: none;
    position: relative;
    left: 0px;
    line-height: 10px;
    /* width: 105px; */
    /* padding: 0.1px 40px; */
    font-size: 14px;
    background-color: rgba(8, 143, 26, 0.528);
    word-wrap: break-word;
}
.container1 li a{
    display: block;
    padding: 12px 1px;
    color: white;
}





/* CARLIST */

.container2 {
    float: left;
    width: 100%;
    /* background-color: rgb(1, 255, 60); */
    height:600px;
    width: 400px;
    border: 10px black;
}
