<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- Car page -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="../static/carpage.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='carpage.css')}}"
    />
   
  </head>

  <body>
    <header>
    <div class="container">
    <!-- website_name -->
    <h2 id="title">HungryCars</h2>
    <nav>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/help">Help</a>
      <a class="active" href="/sort">Sort</a>
      <a href="/search">Search</a>
      </div>
    </nav>
  </header>
</div>
    <!-- <p>{{list}}</p> -->
    <p id="carAttribute:model">Model: {{model}}</p>
    <p id="carAttribute:make">Make: {{make}}</p>
    <p id="carAttribute:class">Class: {{carClass}}</p>
    <p id="carAttribute:engine">Engine Size: {{engine}}</p>
    <p id="carAttribute:cylinder">Cylinder: {{cylinder}}</p>
    <p id="carAttribute:fueltype">Fuel Type: {{fueltype}}</p>
    <p id="carAttribute:fuelConsumption">
      Fuel Consumption: {{fuelConsumption}}
    </p>
    <p id="carAttribute:co2Emission">CO2 Emission: {{co2Emission}}</p>
    <p id="carAttribute:co2Rating">CO2 Rating: {{co2Rating}}</p>
    <p id="carAttribute:smogRating">Smog Rating: {{smogRating}}</p>
  </body>
</html>
