<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <!-- websiteName -->
        <h2 id="title">HungeryCars</h2>
        <!-- navbar -->
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/help">Help</a>
          <a href="/api/sort">Sort</a>
          <a href="/search">Search</a>
        </div>
    </header>
  </div>

    <!-- instructions -->
    <p>Click to search for specific car model</p>
    <a href="/search">search</a>
    <p>Feeling lazy? let us help you *sort* out which car is best for you</p>
    <a href="/sort">sort</a>
  </body>
</html>
