<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <!-- <a href="">
        <img src="car_icon.jpeg" alt="Logo image" class="logo"
        width='90px' height='80px'> </a> -->
        <h2 id="title">HungryCars</h2>
        <nav>
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/help">Help</a>
          <a href="/sort">Sort</a>
          <a href="/search">Search</a>
        </div>
       </nav>
    </header>
  </div>

    <!-- instructions -->
    <section>
    <p>Click to search for specific car make:</p>
    <a href="/search">Search Page</a>
    <p>Feeling lazy? Click to see ratings:</p>
    <a href="/sort">Sort Results</a>
    <div id="backgroundimage"></div>
    </section>
    

</div>
  </body>
</html>
