<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <!-- <a href="">
        <img src="car_icon.jpeg" alt="Logo image" class="logo"
        width='90px' height='80px'> </a> -->
        <h2 id="title">HungeryCars</h2>
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/help">Help</a>
          <a href="/sort">Sort</a>
          <a href="/search">Search</a>
        </div>
        
      <nav>
        <!-- website_name -->
        <!-- <h2 id="title">2022 Fuel Consumption Ratings</h2> -->
        
       </nav>
    </header>
  </div>

    <!-- instructions -->
    <p>Click to search for specific car make</p>
    <a href="/search">search</a>
    <p>Feeling lazy? Click to see ratings</p>
    <a href="/sort">sort</a>
  </body>
</html>
