<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/search.css" />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='carsSearch.js') }}"
    ></script>
  </head>

  <body>
    <header>
      <div class="container">
        <!-- <img src="images/carIcon.png" alt="Logo image" class="logo"
        width='90px' height='80px'> </a> -->
        <h2 id="title">HungeryCars</h2>
      </div>
      <div class="topnav">
        <a href="/">Home</a>
        <a href="/api/help">Help</a>
        <a href="/sort">Sort</a>
        <a class="active" href="/search">Search</a>
      </div>
    </header>

    <!-- instructions -->
    <p1>type the car model you want to search</p1>
    <!-- search_bar -->
    <div class="search-bar">
      <input type="text" id="searchString" placeholder="Search..." />
      <button id="searchButton">B</button>
    </div>
    <!-- carList -->
    <div class="list">
      <p2 id="carlist_by_make"></p2>
    </div>
  </body>
</html>
