<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/search.css" />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='carsSearch.js') }}"
    ></script>
  </head>

  <body>
    <header>
      <div class="container">
        <!-- <img src="images/carIcon.png" alt="Logo image" class="logo"
        width='90px' height='80px'> </a> -->
        <h2 id="title">GreenCars</h2>
      <nav>
      <div class="topnav">
        <a href="/">Home</a>
        <a href="/help">Help</a>
        <a href="/sort">Sort</a>
        <a class="active" href="/search">Search</a>
      </div>
      </nav>
    </header>
  </div>

    <!-- instructions -->
    <p>Type the car model you want to search:</p>
    <div id="backgroundimage"></div>
    <!-- search_bar -->
    <div class="search-bar">
      <input type="text" id="searchString" placeholder="Search..." />
      <button id="searchButton"><img src="/static/images/searchlogo.png"></button>
    </div>
    <!-- <table id="cartable">
      <tr>
        <th>carModel_____</th>
        <th>carMake_____</th>
        <th>Co2Emission</th>
      </tr>

      <tr href="/api/hello/235">
        <td><p href="/api/hello/235">hello</p></td>
        <td>Yes</td>
        <td>No</td>
      </tr>
    </table> -->
    <div class="list">
      <p2 id="carlist_by_make"></p2>
    </div>
  </body>
</html>
