<!-- CS257 end-to-end assignment -->
<!-- written by Xiaoying QU and Yiming Xia -->
<!-- 11.9.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='people.css') }}"
    /> -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='people.js') }}"
    ></script>
    <title>CS 257: Software Design</title>
  </head>

  <body>
    <h1>CS 257</h1>
    <button id="peopleButton">GIVE ME PEOPLE</button>
    <p id="peopleList"></p>
  </body>
</html>
