<!-- CS257 mockup -->
<!-- Written by Yiming Xia and Xiaoying Qu -->
<!-- 11.3.2022 -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/Index.css" />
  </head>

  <body>
    <!-- web site_name -->
    <h1>Hungry Cars</h2>
    <!-- instructions -->
    <p>WHAT DO YOU WANT TO SEARCH</p>

    <div class="container">
      <a href="/search">search</a>
      <a href="/sort">sort</a>
    </div>
  </body>
</html>
